@charset "UTF-8";
/*!
  Theme Name: Central Pattern Making
  Author: The Web Orchard
  Author URI: https://www.theweborchard.com/
  Description: Created by The Web Orchard. Ensure the following plugins are installed: Contact Form 7, EWWW Image Optimizer, Page Builder by SiteOrigin, SiteOrigin Widgets Bundle, WP Mail SMTP and Yoast SEO.
  Version: 1.0.0
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.bg.primary {
  background-color: #314057;
  color: #ffffff;
}
.bg.primary.panel-row-style {
  padding: 25px;
}

.bg.secondary {
  background-color: #ff3e02;
  color: #ffffff;
}
.bg.secondary.panel-row-style {
  padding: 25px;
}

.bg.white-text {
  background-color: "";
  color: #ffffff;
}
.bg.white-text.panel-row-style {
  padding: 25px;
}

h1 {
  font-size: 30px;
  margin: 0 0 25px 0;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

h2 {
  font-size: 26px;
  margin: 0 0 25px 0;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }
}

h3 {
  font-size: 22px;
  margin: 0 0 25px 0;
}
@media only screen and (max-width: 768px) {
  h3 {
    font-size: 16px;
  }
}

p, li {
  font-size: 20px;
  line-height: 1.8;
}
@media only screen and (max-width: 1024px) {
  p, li {
    font-size: 16px;
  }
}

a {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #314057;
  text-decoration: none;
}

a.button, button, input[type=submit] {
  background-color: #314057;
  border: 2px solid #314057;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 25px;
  cursor: pointer;
}
a.button:hover, button:hover, input[type=submit]:hover {
  border: 2px solid #ffffff;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

h1, h2, h3, h4 {
  font-weight: 400;
}
h1 strong, h2 strong, h3 strong, h4 strong {
  font-weight: 900;
}

html {
  margin-top: 0 !important;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: #ffffff;
  color: #314057;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
body.admin-bar header.site-header {
  top: 32px;
}
body.admin-bar .page_header {
  margin-top: calc(112px + 32px);
}
body.scroll header.site-header {
  border-bottom: 2px solid #314057;
}

.siteorigin-widget-tinymce p:first-child, .textwidget p:first-child {
  margin-top: 0;
}
.siteorigin-widget-tinymce p a, .textwidget p a {
  color: #ff3e02;
}

.so-widget-sow-image-grid .sow-image-grid-wrapper {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-stretch {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.site-width {
  width: calc(100% - 50px) !important;
  padding: 15px 25px;
  max-width: 1200px !important;
  margin-left: auto;
  margin-right: auto;
}

.light-font {
  font-weight: 300 !important;
}

.align-center .sow-image-grid-wrapper {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

header.site-header {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
header.site-header .header_widgets {
  width: calc(100% - 50px);
  padding: 15px 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header.site-header .header_widgets {
    padding: 5px 25px 2px 25px;
  }
}
@media only screen and (max-width: 768px) {
  header.site-header .header_widgets .widget_media_image {
    max-width: 50%;
  }
}
header.site-header .header_widgets .widget_media_image a {
  float: left;
}
header.site-header .header_widgets .widget.widget_nav_menu {
  margin-left: auto;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu {
  margin: 0;
  padding: 0;
  position: relative;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:after {
  content: "|";
  padding-left: 15px;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child {
  margin-right: 0;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child:after {
  display: none;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child.current-menu-item a, header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child.current-menu-ancestor a {
  color: #ffffff;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child a {
  color: #ffffff;
  background-color: #ff3e02;
  padding: 15px 25px;
  border-radius: 5px;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child a:hover {
  color: #ffffff;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:nth-last-child(2):after {
  display: none;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li a {
  color: #314057;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li a:hover, header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li a:focus {
  color: #ff3e02;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li.current-menu-item a, header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li.current-menu-ancestor a {
  color: #ff3e02;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:hover > .sub-menu, header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:focus > .sub-menu {
  opacity: 1;
  min-width: 250px;
  max-height: 400px;
  visibility: visible;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu {
  position: absolute;
  top: 100%;
  z-index: 999;
  background: #ffffff;
  padding: 25px;
  margin: 0;
  border-bottom: 5px solid #314057;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  visibility: hidden;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li {
  display: block;
  margin-right: 0;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li:after {
  display: none;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li a {
  color: #314057;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li a:hover {
  color: #ff3e02 !important;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li:last-child a {
  color: #314057;
  background-color: unset;
  padding: unset;
  border-radius: unset;
}
header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li:last-child a:hover {
  color: #ff3e02 !important;
}
@media only screen and (max-width: 1100px) {
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu {
    background: #314057;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    width: 75%;
    height: 100vh;
    position: fixed;
    top: 0 !important;
    right: auto;
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    z-index: 1500;
    padding: 25px;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li {
    width: 100%;
    display: block;
    margin: 0 0 25px 0;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:last-child {
    margin-bottom: 50px;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li:after {
    display: none !important;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li a {
    color: #ffffff;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu {
    position: relative;
    top: unset;
    z-index: unset;
    background: unset;
    padding: 25px 15px 0 15px;
    border-bottom: 0;
    height: auto;
    max-height: unset;
    opacity: 1;
    visibility: visible;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li {
    margin-bottom: 25px;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li a {
    color: #ffffff;
  }
  header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu li .sub-menu li:last-child a {
    color: #ffffff;
  }
  .menuopen header.site-header .header_widgets .widget.widget_nav_menu #menu-main-menu {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 1100px) {
  .mobile_menu {
    width: 15px;
    height: 15px;
    display: block;
    top: 20px;
    right: 20px;
    z-index: 1500;
    position: fixed;
    padding: 15px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    background: #314057;
  }
  .mobile_menu span {
    display: block;
    height: 4px;
    background: #ffffff;
    margin-bottom: 3px;
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .menuopen .mobile_menu span:nth-child(1) {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: rotate(45deg) translateX(5px) translateY(5px);
            transform: rotate(45deg) translateX(5px) translateY(5px);
  }
  .menuopen .mobile_menu span:nth-child(2) {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-transform: rotate(-45deg) translateX(0px) translateY(0px);
            transform: rotate(-45deg) translateX(0px) translateY(0px);
  }
  .menuopen .mobile_menu span:nth-child(3) {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0;
  }
}
main#primary.site-main {
  width: calc(100% - 50px);
  padding: 0 25px;
  max-width: 1200px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

body.home main#primary.site-main {
  margin-bottom: 0;
}

.page_header {
  background: #314057;
  width: 100%;
  margin-top: 112px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .page_header {
    margin-top: 78px;
  }
}
.page_header .wrapper {
  position: relative;
  width: calc(100% - 50px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.page_header .wrapper .text {
  padding: 56px 0;
  color: #ffffff;
  max-width: 50%;
}
.page_header .wrapper .text h1 {
  margin: 0;
}
.page_header .wrapper .text p:last-child {
  margin-bottom: 0;
}
.page_header .wrapper .bg {
  position: absolute;
  top: 0px;
  right: -50%;
  width: 100%;
  height: 100%;
}
.page_header .wrapper .bg .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
}

.introduction {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
}
.introduction h1 {
  font-size: 40px;
}
@media only screen and (max-width: 768px) {
  .introduction h1 {
    font-size: 24px;
  }
}
.introduction p {
  font-size: 30px;
}
@media only screen and (max-width: 768px) {
  .introduction p {
    font-size: 18px;
  }
}

.service-no-image h3 {
  font-weight: 700;
}
.service-no-image p {
  font-weight: 300;
  margin: 0;
}

.hp-services {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .hp-services {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .hp-services .panel-grid-cell {
    max-width: 49%;
    display: inline-block;
    margin-bottom: 0 !important;
  }
}
.hp-services .panel-grid-cell > .so-panel .sow-image-container {
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .hp-services .panel-grid-cell > .so-panel .sow-image-container {
    background-color: #314057;
  }
}
.hp-services .panel-grid-cell > .so-panel .sow-image-container .so-widget-image {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  width: auto !important;
}
@media only screen and (min-width: 1024px) {
  .hp-services .panel-grid-cell > .so-panel .sow-image-container .so-widget-image {
    width: 100% !important;
  }
}
@media only screen and (max-width: 768px) {
  .hp-services .panel-grid-cell > .so-panel .sow-image-container .so-widget-image {
    width: auto !important;
    max-width: 375px;
    height: unset;
    margin-left: auto;
    margin-right: auto;
  }
}
.hp-services .panel-grid-cell > .so-panel .sow-image-container:hover .so-widget-image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.hp-services .widget-title {
  margin-top: 15px;
  margin-bottom: 0;
}
.hp-services .learn-more-button-text p, .hp-services .learn-more-button-text a {
  margin: 0;
  color: #ff3e02;
  text-decoration: none;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .cta {
    text-align: left;
  }
  .cta a.button {
    float: left;
  }
}
.cta.cta-orange a.button {
  background-color: #ff3e02;
  border-color: #ff3e02;
  font-size: 14px;
  line-height: 1;
}
.cta.cta-orange a.button:hover {
  background-color: #ffffff;
  color: #ff3e02;
}
.cta.cta-white a.button {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #314057;
  font-size: 14px;
  line-height: 1;
}
.cta.cta-white a.button:hover {
  background-color: #ffffff;
  color: #314057;
}

.social-list {
  margin: 0 0 25px 0;
  padding: 0;
}
.social-list li {
  list-style-type: none;
  display: inline-block;
  font-size: 30px;
}

.logos .sow-image-grid-wrapper {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-images .sow-image-grid-wrapper {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-images .sow-image-grid-wrapper .sow-image-grid-image {
  padding: 0 5px !important;
}
@media only screen and (max-width: 768px) {
  .social-images .sow-image-grid-wrapper .sow-image-grid-image {
    max-width: 30px;
  }
}
.social-images .sow-image-grid-wrapper .sow-image-grid-image img {
  max-width: 75% !important;
}
@media only screen and (max-width: 768px) {
  .social-images .sow-image-grid-wrapper .sow-image-grid-image img {
    max-width: 100% !important;
  }
}

.testimonial-container h3 {
  font-size: 40px;
  font-weight: 300;
  color: #314057;
  margin-bottom: 25px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .testimonial-container h3 {
    font-size: 22px;
  }
}

.wpra-grid-item__content .wpra-grid-item__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 25px 0;
}
.wpra-grid-item__content .wpra-grid-item__excerpt {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
}

.wp-rss-aggregator .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wp-rss-aggregator .nav-links span, .wp-rss-aggregator .nav-links div {
  padding: 10px;
  line-height: 1;
}
.wp-rss-aggregator .nav-links span {
  background-color: #314057;
  color: #ffffff;
}

.wpra-et-template ul {
  margin: 0;
  padding: 0;
}
.wpra-et-template ul li {
  margin-bottom: 25px;
  padding: 25px !important;
}
.wpra-et-template ul li:last-child {
  margin-bottom: 0;
}
.wpra-et-template ul li:nth-child(odd) {
  background-color: #f9f9f9;
}
.wpra-et-template ul li .wprss-feed-excerpt a {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.archive_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}
@media only screen and (max-width: 768px) {
  .archive_container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 1024px) {
  .archive_container {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.archive_container a.container {
  text-decoration: none;
}
.archive_container a.container div.post img {
  max-width: 100%;
  display: block;
}
.archive_container a.container div.post .title {
  text-decoration: underline;
  margin-top: 15px !important;
}

.breadcrumb {
  border-top: 1px solid #314057;
  border-bottom: 1px solid #314057;
}
@media only screen and (max-width: 1024px) {
  .breadcrumb {
    width: 100%;
    float: left;
    font-size: small;
    margin-bottom: 50px;
  }
}
.breadcrumb .wrapper {
  position: relative;
  width: calc(100% - 50px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}

footer.site-footer {
  background-color: #314057;
  color: #ffffff;
}
footer.site-footer a {
  color: #ffffff !important;
}
footer.site-footer .site-info {
  width: calc(100% - 50px);
  padding: 15px 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1024px) {
  footer.site-footer .site-info {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  footer.site-footer .site-info p, footer.site-footer .site-info li {
    font-size: 14px;
  }
}
footer.site-footer .site-info .panel-grid > div {
  width: 100%;
}
footer.site-footer .site-info .panel-grid > div:nth-child(2) {
  -ms-flex-item-align: center !important;
      -ms-grid-row-align: center !important;
      align-self: center !important;
}
footer.site-footer .site-info section {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
footer.site-footer .site-info .widget_sow-image {
  text-align: center;
}
footer.site-footer .site-info .widget_nav_menu ul {
  margin: 0;
  padding: 0;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 768px) {
  footer.site-footer .site-info .widget_nav_menu ul {
    text-align: left;
    float: left;
  }
}
footer.site-footer .site-info .widget_nav_menu ul li {
  list-style-type: none;
}
footer.site-footer .site-info .widget_nav_menu ul li a {
  text-decoration: none;
}

ul.rss-aggregator li.feed-item > a {
  font-size: 22px;
  font-weight: 400;
  display: block;
  margin: 0 0 25px 0;
  line-height: 1.2;
}
ul.rss-aggregator li.feed-item .thumbnail-excerpt {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.8;
}
ul.rss-aggregator li.feed-item .thumbnail-excerpt img {
  margin-top: 0;
}
ul.rss-aggregator li.feed-item .thumbnail-excerpt a {
  color: #ff3e02;
  font-weight: 400;
  text-transform: lowercase;
}
ul.rss-aggregator li.feed-item .thumbnail-excerpt a:after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "";
  margin-left: 5px;
}
/*# sourceMappingURL=style.css.map */