/*!
  Theme Name: Central Pattern Making
  Author: The Web Orchard
  Author URI: https://www.theweborchard.com/
  Description: Created by The Web Orchard. Ensure the following plugins are installed: Contact Form 7, EWWW Image Optimizer, Page Builder by SiteOrigin, SiteOrigin Widgets Bundle, WP Mail SMTP and Yoast SEO.
  Version: 1.0.0
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

// region Variables
// Sizing / Layout
$site_width: 1200px;
$mobile_bp: 768px;
$tablet_bp: 1024px;
$menu_bp: 1100px;

// Padding / Margins
$pm_small: 15px;
$pm_medium: 25px;
$pm_large: 50px;

// Colour Palette for Site Origin Editor (Manually sync with functions.php)
$palette: (
  'primary':       (#314057, #ffffff),
  'secondary':     (#ff3e02, #ffffff),
  'white-text':    ('', #ffffff),
);

@function c($val) {
  @return nth(map-get($palette, $val), 1);
}
@function txtc($val) {
  @return nth(map-get($palette, $val), 2);
}

@mixin bg-colors($name, $colour, $colour_b) {
  .bg.#{$name} {
    background-color: $colour;
    color: $colour_b;

    &.panel-row-style {
      padding: $pm_medium;
    }
  }
}

@each $name, $hexes in $palette {
  @include bg-colors($name, nth($hexes, 1), nth($hexes, 2));
}
// endregion

// region Font Sizing
h1 {
  font-size: 30px;
  @media only screen and (max-width: $mobile_bp) {
    font-size: 24px;
  }
  margin: 0 0 $pm_medium 0;
}

h2 {
  font-size: 26px;
  @media only screen and (max-width: $mobile_bp) {
    font-size: 20px;
  }
  margin: 0 0 $pm_medium 0;
}

h3 {
  font-size: 22px;
  @media only screen and (max-width: $mobile_bp) {
    font-size: 16px;
  }
  margin: 0 0 $pm_medium 0;
}

p, li {
  font-size: 20px;
  line-height: 1.8;

  @media only screen and (max-width: $tablet_bp) {
    font-size: 16px;
  }
}
// endregion

// region General Elements
a {
  transition: all 0.5s ease-out;
  color: c(primary);
  text-decoration: none;
}

a.button, button, input[type="submit"] {
  background-color: c(primary);
  border: 2px solid c(primary);
  border-radius: 5px;
  transition: all 0.5s ease-out;
  color: #ffffff;
  text-transform: uppercase;
  padding: $pm_small $pm_medium;
  cursor: pointer;

  &:hover {
    border: 2px solid #ffffff;
    transition: all 0.5s ease-out;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;

  strong {
    font-weight: 900;
  }
}

html {
  margin-top: 0!important;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background: #ffffff;
  color: c(primary);
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  // Add additional top spacing / margin for admin bar (if header is absolute or fixed)
  &.admin-bar {
    header.site-header {
      top: 32px;
    }

    .page_header {
      margin-top: calc(112px + 32px);
    }
  }

  &.scroll {
    header.site-header {
      border-bottom: 2px solid c(primary);
    }
  }
}
// endregion

// region SiteOrigin
.siteorigin-widget-tinymce, .textwidget {
  p {
    &:first-child {
      margin-top: 0;
    }

    a {
      color: c(secondary);
    }
  }
}

.so-widget-sow-image-grid {
  .sow-image-grid-wrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
// endregion

// region Helpful Classes
.align-stretch {
  align-items: stretch!important;
  align-items: center!important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.site-width {
  width: calc(100% - 50px)!important;
  padding: $pm_small $pm_medium;
  max-width: $site_width!important;
  margin-left: auto;
  margin-right: auto;
}

.light-font {
  font-weight: 300!important;
}

.align-center .sow-image-grid-wrapper {
  justify-content: center!important;
}
// endregion

// region Header
header.site-header {
  background-color: #ffffff;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .header_widgets {
    width: calc(100% - 50px);
    padding: $pm_small $pm_medium;
    max-width: $site_width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    @media only screen and (min-width: $mobile_bp) and (max-width: $tablet_bp) {
      padding: 5px 25px 2px 25px;
    }

    // Logo
    .widget_media_image {
      @media only screen and (max-width: $mobile_bp) {
        max-width: 50%;
      }

      a {
        float: left;
      }
    }
    // endregion

    // Main Menu
    .widget.widget_nav_menu {
      margin-left: auto;

      #menu-main-menu {
        margin: 0;
        padding: 0;
        position: relative;

        li {
          list-style-type: none;
          display: inline-block;
          margin-right: 15px;

          &:after {
            content: "|";
            padding-left: 15px;
          }

          &:last-child {
            margin-right: 0;

            &:after {
              display: none;
            }

            &.current-menu-item, &.current-menu-ancestor {
              a {
                color: #ffffff;
              }
            }

            a {
              color: #ffffff;
              background-color: c(secondary);
              padding: $pm_small $pm_medium;
              border-radius: 5px;

              &:hover {
                color: #ffffff;
              }
            }
          }

          &:nth-last-child(2) {
            &:after {
              display: none;
            }
          }

          a {
            color: c(primary);
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;

            &:hover, &:focus {
              color: c(secondary);
            }
          }

          &.current-menu-item, &.current-menu-ancestor {
            a {
              color: c(secondary);
            }
          }

          &:hover, &:focus {
            > .sub-menu {
              opacity: 1;
              min-width: 250px;
              max-height: 400px;
              visibility: visible;
            }
          }

          // Dropdown
          .sub-menu {
            position: absolute;
            top: 100%;
            z-index: 999;
            background: #ffffff;
            padding: $pm_medium;
            margin: 0;
            border-bottom: 5px solid c(primary);
            max-height: 0;
            opacity: 0;
            transition: all 0.5s ease-out;
            visibility: hidden;

            li {
              display: block;
              margin-right: 0;

              &:after {
                display: none;
              }

              a {
                color: c(primary);

                &:hover {
                  color: c(secondary)!important;
                }
              }

              &:last-child {
                a {
                  color: c(primary);
                  background-color: unset;
                  padding: unset;
                  border-radius: unset;

                  &:hover {
                    color: c(secondary)!important;
                  }
                }
              }
            }
          }
        }
      }
    }
    // endregion

    @media only screen and (max-width: $menu_bp) {
      .widget.widget_nav_menu #menu-main-menu {
        background: c(primary);
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        width: 75%;
        height: 100vh;
        position: fixed;
        top: 0!important;
        right: auto;
        left: 0;
        transform: translate3d(-100%,0,0);
        transition: all 0.5s ease-out;
        z-index: 1500;
        padding: $pm_medium;

        li {
          width: 100%;
          display: block;
          margin: 0 0 $pm_medium 0;

          &:last-child {
            margin-bottom: $pm_large;
          }

          &:after {
            display: none!important;
          }

          a {
            color: #ffffff;
          }

          .sub-menu {
            position: relative;
            top: unset;
            z-index: unset;
            background: unset;
            padding: $pm_medium $pm_small 0 $pm_small;
            border-bottom: 0;
            height: auto;
            max-height: unset;
            opacity: 1;
            visibility: visible;

            li {
              margin-bottom: $pm_medium;

              a {
                color: #ffffff;
              }

              &:last-child {
                a {
                  color: #ffffff;
                }
              }
            }
          }
        }

        .menuopen & {
          transform: translate3d(0%,0,0);
          box-shadow: 0 0 0 1000px rgba(0,0,0,.5);
        }
      }
    }
  }
}
// endregion

// region Mobile Menu
@media only screen and (max-width: $menu_bp) {
  .mobile_menu {
    width: 15px;
    height: 15px;
    display: block;
    top: 20px;
    right: 20px;
    z-index: 1500;
    position: fixed;
    padding: $pm_small;
    transition: all 0.5s ease-out;
    background: c(primary);

    span {
      display: block;
      height: 4px;
      background: #ffffff;
      margin-bottom: 3px;
      transform-origin: 50% 50%;
      transition: all 0.5s ease-out;
    }

    .menuopen & {
      span:nth-child(1){
        transition: all 0.5s ease-out;
        transform: rotate(45deg) translateX(5px) translateY(5px);
      }
      span:nth-child(2){
        transition: all 0.5s ease-out;
        transform: rotate(-45deg) translateX(0px) translateY(0px);
      }
      span:nth-child(3){
        transition: all 0.5s ease-out;
        opacity: 0;
      }
    }
  }
}
// endregion

// region Main Content
main#primary.site-main {
  width: calc(100% - 50px);
  padding: 0 $pm_medium;
  max-width: $site_width;
  margin-top: $pm_large;
  margin-bottom: $pm_large;
  margin-left: auto;
  margin-right: auto;
}

body.home  {
  main#primary.site-main {
    margin-bottom: 0;
  }
}
// endregion

// region Page Header for Content Pages
.page_header {
  background: c(primary);
  width: 100%;
  margin-top: 112px;
  overflow: hidden;

  @media only screen and (max-width: $mobile_bp) {
    margin-top: 78px;
  }

  .wrapper {
    position: relative;
    width: calc(100% - 50px);
    max-width: $site_width;
    margin-left: auto;
    margin-right: auto;

    .text {
      padding: 56px 0;
      color: #ffffff;
      max-width: 50%;

      h1 {
        margin: 0;
      }

      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .bg {
      position: absolute;
      top: 0px;
      right: -50%;
      width: 100%;
      height: 100%;

      .image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
      }
    }
  }
}
// endregion

// region Introduction - Home
.introduction {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 40px;

    @media only screen and (max-width: $mobile_bp) {
      font-size: 24px;
    }
  }

  p {
    font-size: 30px;

    @media only screen and (max-width: $mobile_bp) {
      font-size: 18px;
    }
  }
}
// endregion

// region - Home Services
.service-no-image {
  h3 {
    font-weight: 700;
  }

  p {
    font-weight: 300;
    margin: 0;
  }
}

.hp-services {
  align-items: flex-start!important;

  @media only screen and (min-width: 600px) and (max-width: $tablet_bp) {
    flex-wrap: wrap!important;
    flex-direction: row!important;
  }

  .panel-grid-cell {
    @media only screen and (min-width: 600px) and (max-width: $tablet_bp) {
      max-width: 49%;
      display: inline-block;
      margin-bottom: 0!important;
    }

    > .so-panel {
      .sow-image-container {
        overflow: hidden;

        @media only screen and (max-width: $mobile_bp) {
          background-color: c(primary);
        }

        .so-widget-image {
          transition: all 0.5s ease-out;
          width: auto!important;

          @media only screen and (min-width: $tablet_bp) {
            width: 100%!important;
          }

          @media only screen and (max-width: $mobile_bp) {
            width: auto!important;
            max-width: 375px;
            height: unset;
            margin-left: auto;
            margin-right: auto;
          }
        }

        &:hover {
          .so-widget-image {
            transform: scale(1.1);
            transition: all 0.5s ease-out;
          }
        }
      }
    }
  }

  .widget-title {
    margin-top: $pm_small;
    margin-bottom: 0;
  }

  .learn-more-button-text {
    p, a {
      margin: 0;
      color: c(secondary);
      text-decoration: none;
      font-weight: 400;
    }
  }
}
// endregion

// region - Home CTA
.cta {
  @media only screen and (max-width: $mobile_bp) {
    text-align: left;

    a.button {
      float: left;
    }
  }

  &.cta-orange {
    a.button {
      background-color: c(secondary);
      border-color: c(secondary);
      font-size: 14px;
      line-height: 1;

      &:hover {
        background-color: #ffffff;
        color: c(secondary);
      }
    }
  }

  &.cta-white {
    a.button {
      background-color: #ffffff;
      border-color: #ffffff;
      color: c(primary);
      font-size: 14px;
      line-height: 1;

      &:hover {
        background-color: #ffffff;
        color: c(primary);
      }
    }
  }
}
// endregion

// region Social List for HTML widget
.social-list {
  margin: 0 0 25px 0;
  padding: 0;

  li {
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
  }
}
// endregion

// region Client Logos
.logos {
  .sow-image-grid-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
// endregion

// region Social Images on HP CTA
.social-images {
  .sow-image-grid-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    .sow-image-grid-image {
      padding: 0 5px!important;

      @media only screen and (max-width: $mobile_bp) {
        max-width: 30px;
      }

      img {
        max-width: 75%!important;

        @media only screen and (max-width: $mobile_bp) {
          max-width: 100%!important;
        }
      }
    }
  }
}
// endregion

// region Testimonial Container at bottom of service pages (containing Smart slider)
.testimonial-container {
  h3 {
    font-size: 40px;
    font-weight: 300;
    color: c(primary);
    margin-bottom: $pm_medium;
    text-align: center;

    @media only screen and (max-width: $mobile_bp) {
      font-size: 22px;
    }
  }
}
// endregion

// region RSS
.wpra-grid-item__content {
  .wpra-grid-item__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 25px 0;
  }

  .wpra-grid-item__excerpt {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
  }
}

.wp-rss-aggregator {
  .nav-links {
    display: flex;
    justify-content: center;

    span, div {
      padding: 10px;
      line-height: 1;
    }

    span {
      background-color: c(primary);
      color: #ffffff;
    }
  }
}

.wpra-et-template {
  ul {
    margin: 0;
    padding: 0;

    li {
      margin-bottom: $pm_medium;
      padding: $pm_medium!important;

      &:last-child {
        margin-bottom: 0;
      }

      &:nth-child(odd) {
        background-color: #f9f9f9;
      }

      .wprss-feed-excerpt {
        a {
          display: block;
          width: 100%;
          margin-top: $pm_small;
        }
      }
    }
  }
}
// endregion

// region Archive page
.archive_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: $pm_medium;

  @media only screen and (max-width: $mobile_bp) {
    grid-template-columns: 1fr;
  }

  @media only screen and (max-width: $tablet_bp) {
    grid-template-columns: 1fr 1fr;
  }

  a.container {
    text-decoration: none;

    div.post {
      img {
        max-width: 100%;
        display: block;
      }

      .title {
        text-decoration: underline;
        margin-top: 15px!important;
      }
    }
  }
}
// endregion

// region Footer
.breadcrumb {
  border-top: 1px solid #314057;
  border-bottom: 1px solid #314057;

  @media only screen and (max-width: $tablet_bp) {
    width: 100%;
    float: left;
    font-size: small;
    margin-bottom: 50px;
  }

  .wrapper {
    position: relative;
    width: calc(100% - 50px);
    max-width: $site_width;
    margin-left: auto;
    margin-right: auto;
    padding: $pm_small 0;
  }
}
// endregion

// region Footer
footer.site-footer {
  background-color: c(primary);
  color: #ffffff;

  a {
    color: #ffffff!important;
  }

  .site-info {
    width: calc(100% - 50px);
    padding: $pm_small $pm_medium;
    max-width: $site_width;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $tablet_bp) {
      margin-bottom: 50px;
    }

    @media only screen and (max-width: $mobile_bp) {
      p, li {
        font-size: 14px;
      }
    }

    .panel-grid {
      > div {
        width: 100%;

        &:nth-child(2) {
          align-self: center!important;
        }
      }
    }

    section {
      width: 100%;
      max-width: 100%;
      overflow: hidden;
    }

    .widget_sow-image {
      text-align: center;
    }

    .widget_nav_menu {
      ul {
        margin: 0;
        padding: 0;
        text-align: right;
        float: right;

        @media only screen and (max-width: $mobile_bp) {
          text-align: left;
          float: left;
        }

        li {
          list-style-type: none;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
// endregion

ul.rss-aggregator {
  li.feed-item {
    > a {
      font-size: 22px;
      font-weight: 400;
      display: block;
      margin: 0 0 25px 0;
      line-height: 1.2;
    }

    .thumbnail-excerpt {
      margin-top: 0;
      margin-bottom: 0;
      font-size: 20px;
      font-weight: 300;
      line-height: 1.8;

      img {
        margin-top: 0;
      }

      a {
        color: c(secondary);
        font-weight: 400;
        text-transform: lowercase;

        &:after {
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          content: "\f138";
          margin-left: 5px;
        }
      }
    }
  }
}